.textHidden {
    display: none;
}

.textShow {
    display: inline-block;
}

.text-perfect {
    color: green;
}

.text-normal {
    color: black;
}

.text-attemp {
    color: red;
}

.attempt-message {
    right: 250px;
    top: 10px;
}

@media screen and (max-width: 400px) {
    .guess-header {
        display: block;
    }

    .attempt-message {
        right: 10px;
    }

    .btn-list {
        flex-direction: column;
    }

    #btn-guess, #btn-again, #input-guess {
        min-width: 100%;
    }
}
